@{
    ViewData["Title"] = "Add Post";
}

<div class="text-center">
    <h1 class="display-4">AddPost</h1>
</div>
@(Html.DevExtreme().TreeList<ZarNet.Models.Post>()
    .DataSource(ds => ds.Mvc()
        .Controller("Posts")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("PostId")
    )
    //.RootValue(0)
    //.ParentIdExpr("TODO")
    //.RemoteOperations(o => o.Filtering(true).Grouping(true).Sorting(true))
    .Columns(columns => {

        columns.AddFor(m => m.Name);

        columns.AddFor(m => m.MarkCode);

        columns.AddFor(m => m.Description);

        columns.AddFor(m => m.Price);

        columns.AddFor(m => m.Img);

        columns.AddFor(m => m.CompanyId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Posts").LoadAction("CompanyLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );

        columns.AddFor(m => m.CategoryId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Posts").LoadAction("CategoryLookup").Key("Value"))
            .ValueExpr("Value")
            .DisplayExpr("Text")
        );
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)